@import "nullstyle.css";

body {
    background: #1D1C1C;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}
a {
    color: #fff;
}
.content {
    display: flex;
    flex-direction: row;
    margin: 15px auto;
}

/*adaptive*/
.container {
    max-width: 1146px;
}
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 760px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}

/*header style*/
.header {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    margin: 0 56px 0 0;
}
.header__div {}
.header__div:first-child {
    margin: 0 0 51px 0;
}
.header__div:last-child {
    background: #DB9351;
    height: 125px;
}
.header__image {
    border: #DB9351 1px solid;
    max-width: 220px;
    height: 100%;
    object-fit: cover;
}
.header__nav {}
.nav__list {}
.nav__item {
    margin: 0 0 24px 0;
}
.header__buy-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__buy {
    font-weight: 700;
    justify-content: center;
}

/*main content style*/
.main {}
.main-left {
    min-width: 275px;
    display: flex;
    flex-direction: row;
}
.main-center {
    min-width: 368px;
}
.main-right {
    min-width: 168px;
}
.top-s {
    display: flex;
    flex-direction: row;
    margin: 0 0 16px 0;
}
.bottom-s {}
.main__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 32px 0;
}
@media (max-width: 1200px) {
    .sms__info {
        display: none;
    }
    .main__header {
        display: flex;
        flex-direction: column;
    }
    .top-s {
        justify-content: space-between;
    }
}
@media (max-width: 992px) {
    .main-left {
        min-width: auto;
    }
    .main-center {
        min-width: auto;
    }
}
@media (max-width: 767px) {
    .top-s {
        display: flex;
        flex-direction: column;
    }
}

/*main header style*/
.main__header-btn {
    display: flex;
    flex-direction: row;
    margin: 0 0 16px 0;
}
.main__header-btn button {
    margin: 0 12px 0 0;
    background: rgba(0, 0, 0, 0);
}
.main__header-btn button:first-child {
    color: #FF5B5C;
    font-size: 1rem;
}
.main__header-btn button:last-child {
    color: #fff;
    font-size: 1rem;
}
.main__header-nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.main__header-nav a {
    margin: 0 10px 0 0;
}
.main__header-search {
    display: flex;
    flex-direction: row;
}
.main__header-search button {
    width: 66px;
}

/*main content sms style*/
.main__sms {}
.sms__list {}
.sms__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 59px;
}
.sms__input {
    padding: 15px 0 0 0;
    margin: 0 19px 0 0;
}
.sms__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.sms__user-photo {
    margin: 0 16px 0 0;
    width: 40px;
}
.sms__user-online {
    width: 13px;
    position: absolute;
    top: 1px;
    left: 29px;
}
.sms__user-name {
    max-width: 146px;
    overflow: hidden;
    margin: 0 6px 0 0;
    text-decoration: underline;
    font-weight: 700;
}
.sms__main-info {}
.sms__arc {
    height: 16px;
    margin: 0 16px 0 0;
}
.sms__main-text {}
.sms__info {
    min-width: 246px;
    text-align: end;
}
.sms__data {
    margin: 0 20px 0 0;
    text-align: end;
}
.sms__time {
    text-align: end;
}

/*pages style*/
.main__pages {}
.page__link {}
.active__link {}